.login-form {
  /* z-index: 1; */
}
.login-form-element {
  display: flex;
  /*   align-items: center; */
  /*  justify-content: flex-end; */
}
.login-form-message {
  text-align: right;
  font-size: 0.9rem;
  /* margin: 0.3em 1em; */
}
.login-form-logged {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1rem;
}
.login-form-button {
  font-weight: 700;
  font-size: 0.9em;
  color: white;
  background-color: black;
  border-radius: 0.3em;
  border: 0;
  padding: 0.7em;
  height: 2.2em;
  width: 8rem;
  text-align: center;
}
