.wrapper {
  height: 88vh;
  overflow: auto;
  display: flex;
}

.recipes {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 14vh auto 0;
}

.recipes-title {
  text-align: center;
  font-size: 2rem;
}

.recipes-list {
  display: flex;
  flex-direction: row;
}

.recipe {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 22vw;
  height: 30vh;
  background: white;
  position: relative;
}

.recipe-image {
  width: 100%;
  opacity: 0.8;
}

.recipe-image:hover {
  opacity: 1;
}

.image {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.recipe-info {
  width: 80%;
  height: 30%;
  padding: 0.3rem;
  position: absolute;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.726);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}

h2 {
  text-align: left;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.is-hidden {
  display: none;
}

.recipe-buttons {
  width: 20vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.recipe-buttons button {
  background-color: black;
  padding: 0.5em 2em;
  color: white;
  width: 10vw;
  margin: auto;
}
